<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370688501621-nij6mg7rv6mf39jn23ibk8a93lpn7ahj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370688501621-nij6mg7rv6mf39jn23ibk8a93lpn7ahj</string>
	<key>API_KEY</key>
	<string>AIzaSyD6kghrQftm-306z1m_w7sLsAAolaOx5V0</string>
	<key>GCM_SENDER_ID</key>
	<string>370688501621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.zelbury.Zelbury</string>
	<key>PROJECT_ID</key>
	<string>zelburychat</string>
	<key>STORAGE_BUCKET</key>
	<string>zelburychat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370688501621:ios:0dd9df5aacd08475d9553c</string>
</dict>
</plist>